/* Full page center */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f7fb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */
.register-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title */
.register-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

/* Inputs */
.register-input {
  width: 100%;
  padding: 10px ;
  left: 0%;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease;
}

.register-input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

/* Button */
.register-btn {
  width: 100%;
  padding: 10px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.register-btn:hover {
  background: #357abd;
}

/* Optional: small link */
.register-link {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: underline;
}